<div class="container">
	<h1>Add Medico</h1>
	<form action="/formAddMedico" method="POST">
		<input type="text" name="cNombre" placeholder="Nombre Medico">
		<input type="text" name="monitoreo" placeholder="Monitoreo">
		<button type="submit">Guardar</button>
	</form>
</div>