<div class="container">
	<h1>Add Estado</h1>
	<form action="/formAddEstado" method="POST">
		<input type="text" name="cEstado" placeholder="Nombre Estado" required>
		<input type="text" name="nActivo" placeholder="Activo" required>
		<button type="submit">Guardar</button>
	</form>
</div>
