<div class="container">
	<h1>Upd Medico</h1>
	<form action="/formUdpAmbulancia/<%= regs.idAmbulancia%>" method="POST">
		<input type="text" name="nNumero" value="<%= regs.nNumero%>">
		<input type="text" name="monitoreo" value="<%= regs.monitoreo%>">
		<button type="submit">Guardar</button>
	</form>
</div>
