<div class="container">
	<h1>Add Ambulancia</h1>
	<form action="/formAddAmbulancia" method="POST">
		<input type="text" name="nNumero" placeholder="Numero Ambulancia" required>
		<input type="text" name="monitoreo" placeholder="Monitoreo" required>
		<button type="submit">Guardar</button>
	</form>
</div>
